* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff url('../images/bg.png') repeat-x;
	font: 78% Arial, Helvetica, Sans-Serif;
	color: #000000;
}

#wrapper {
	width: 970px;
	margin: 5px auto 0;
}

#header_top {
	width: 970px;
	height: 88px;
	background: url('../images/book_top.png') no-repeat top right;
	clear: both;
	margin: 0px;
	padding: 0px;
}

#header_links {
	float: right;
	padding: 28px 200px 0 0;
}

#header_links_lang {
	float: right;
	padding-top: 30px;
}

#header_top li {
	list-style-type: none;
	display: inline;
	font-weight: bold;
	padding-left: 10px;
}

#header_bottom {
	width: 970px;
	height: 125px;
	background: #0000ff url('../images/book_bottom.png') no-repeat top right;
	clear: both;
	margin: 0px;
	padding: 0px;
}

#slogan {
	clear: left;
	width: 700px;
	margin: 0;
	padding: 85px 0 0 20px;
	font-size: 18pt;
	font-weight: bold;
	color: #ffffff;
}

#main_container {
	padding: 5px 0;
	clear: both;
}

#left {
	float: left;
	width: 650px;
	padding: 10px 10px 0 10px;
	margin: 0 0 25px 0;
}

#right {
	float: right;
	width: 275px;
}

#search_criteria {
	width: 90px;
}

#search_submit {
	width: 19px;
	height: 19px;
	border: none;
	background: #fff url('../images/search.png') no-repeat;
	cursor: pointer;
}

#footer {
	clear: both;
	padding: 5px;
	border-top: 1px solid #eee;
}

p {
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: #0000ff;
	background: inherit;
}

a:hover {
	color: #808080;
	background: inherit;
}

img {
	border: 0;
}

.active {
	color: #808080;
}

.book_wrapper {
	clear: both;
	padding: 10px;
	border-top: 1px solid #eee;
}

.book_cover {
	clear: both;
	float: left;
	width: 115px;
	height: 150px;
	padding: 0px 20px 5px 0px;
}

/* Table Zebra */
.zebra tr:nth-child(even) {
	background: #F2F3F0;
	padding-top: 10px;
	margin: 10px 10px 10px 10px;
}

.zebra tr:nth-child(odd) {
	background: #ffffff;
	padding-top: 10px;
	margin: 10px 10px 10px 10px;
}

.zebra table {
	border-spacing: 10px;
}

.link {
	font-size: 16px;
	font-weight: bold;
}

#as_link {
    background: none;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #0000ff;
    cursor: pointer;
}